@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide>div{
  margin: 0 6px;
}

.slick-prev:before, .slick-next:before, .slick-dots li.slick-active button:before, .slick-dots li button:before {
  
  color: #FF66C4 !important;
  
  
}

.project {
  opacity: 0;
}

.slick-dots {
  position: absolute !important;
  top: -40px !important;
}

.slick-prev, .slick-next {
  position: absolute !important;
  top: -20px !important;
  display: none !important;
  
}

body::-webkit-scrollbar {
  width: 5px;
  
}

body::-webkit-scrollbar-thumb {
  
  background-color:  #FF66C4;
  border-radius: 10px;
  
}


@layer base{
  body {
      @apply  bg-bgpink  text-secondarypink font-Roboto
      
  }
}